#e1 {
    position: absolute;
    width: 200px;
    height: 200px;
    top: 0px;
    left: 0px;
    background-color: transparent;
    z-index: 1;
    pointer-events: none
}

html, body {
    margin: 0;
    padding: 0;
    overflow: hidden; /* optional: stop scrolling */
    width: 100%;
    height: 100%;
}